:root{
    --background-color: black;
    --blue: #4369FB;
    --red: #E85D5D;
    --yellow: #FFB650;
    --green: #09CC71;
    --text-color: white;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--green);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transform: translateY(-2.1vh);
    display: flex;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    justify-content: flex-end;
}

ul.topnav li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    font-family: Poppins-Regular, sans-serif;
    padding: 30px 35px;
    text-decoration: none;
    transition: ease .5s;
}

ul.topnav li a:hover {
    opacity: .5;
    transition: ease .5s;
}

.home-header{
    background-color: var(--background-color);
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.name{
    color: var(--text-color);
    font-size: 110px;
    display: flex;
    justify-content: center;
    cursor: default;
    transition: 0.5s !important;
    margin-top: 11%;
}

.name:hover{
    color: var(--background-color);
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFF,
    1px -1px 0 #FFFFFF,
    1px 0 0 #FFFFFF,
    1px 1px 0 #FFFFFF,
    0 1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    -1px 0 0 #FFFFFF,
    -1px -1px 0 #FFFFFF;
}

.name p{
    margin: 0;
    text-align: center;
    font-family: Poppins-Bold, sans-serif;
}

.name-description p{
    font-family: "Montserrat-Regular", sans-serif;
    color: white;
    font-size: 22px;
    text-align: center;
}

.shapes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: var(--background-color);
    padding: 12px;
    border: solid 8px var(--red);
    border-radius: 50%;
    margin: 5px;
}

.triangle{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid var(--blue);
    margin: 5px;
}

.square{
    background-color: var(--background-color);
    padding: 12px;
    border: solid 8px var(--yellow);
    margin: 5px;
}

.diamond{
    background-color: var(--green);
    padding: 15px;
    transform: rotate(45deg);
    margin: 10px;
}

.scrolldown{
    margin-top: 8%;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: var(--text-color) ;
    transition: all .2s;
}

.scrolldown:hover{
    transform: translateY(10px) !important;
    color: var(--text-color)  !important;
}

.gotopbutton{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: var(--text-color) ;
    transition: all .2s;
}

.gotopbutton:focus{
    color: var(--text-color) !important;
}

.gotopbutton:hover{
    transform: translateY(-10px) !important;
    color: var(--text-color)  !important;
}

.nicetomeetyou{
    padding-top: 15vh;
    padding-bottom: 20vh;
    background-color: var(--background-color);
}

.nicetomeetyou h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    white-space: nowrap;
}

.story-title-outline{
    color: var(--text-color);
    opacity: .2;
}

.story-title-filled{
    margin: 10px 0;
}

.story-description{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    margin: 25px 38px;
    padding-top: 20px;
    opacity: .8;
}

.partners{
    padding-bottom: 25vh;
    background-color: var(--background-color);
}

.partners h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    white-space: nowrap;
    margin: 0 0 30px 38px;
    line-height: 100px;
    display: flex;
    justify-content: center;
}

.partner-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logos svg{
    width: 15%;
    height: auto;
    display: flex;
    opacity: .8;
    margin: 30px;
}

.contact{
    padding-bottom: 25vh;
    background-color: var(--background-color);
}

.contact h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    white-space: nowrap;
    margin: 0 0 0 38px;
    line-height: 100px;
}

.contact p{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    opacity: .7;
}

.contact h3{
    font-family: Montserrat-Bold, sans-serif;
    color: var(--text-color);
    margin: 0 0 5px 0;
    font-size: 20px;
}

.contact-description{
    margin: 25px 38px;
}

.contact-description a{
    color: var(--text-color);
    text-decoration: none;
}

.contact-description-heading{
    margin-bottom: 40px;
}

.copyright p{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    font-size: 15px;
    opacity: 1;
    margin: 60px 0 0 38px;
}
