@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root{
    --background-color: black;
    --blue: #4369FB;
    --red: #E85D5D;
    --yellow: #FFB650;
    --green: #09CC71;
    --text-color: white;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--background-color);
}

/* width */
::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--green);
}

@font-face {
    font-family: "Nano";
    src: url("../fonts/nano.woff") format("woff");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    transition: ease .5s;
}

.nav-link:hover{
    opacity: .5;
    color: var(--text-color);
    transition: ease .5s;
}

.nav-logo {
    width: 5%;
    z-index: 5;
}

.home-header{
    background-color: var(--background-color);
    padding-bottom: 6vh;
}

.name{
    color: var(--text-color);
    font-size: 110px;
    display: flex;
    justify-content: center;
    cursor: default;
    transition: 0.5s !important;
    margin-top: 7%;
}

.name:hover{
    color: var(--background-color);
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFF,
    1px -1px 0 #FFFFFF,
    1px 0 0 #FFFFFF,
    1px 1px 0 #FFFFFF,
    0 1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    -1px 0 0 #FFFFFF,
    -1px -1px 0 #FFFFFF;
}

.name p{
    margin: 0;
    text-align: center;
    font-family: Poppins-Bold, sans-serif;
}

.name-description p{
    font-family: "Montserrat-Regular", sans-serif;
    color: white;
    font-size: 22px;
    text-align: center;
    cursor: default;
}

.shapes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: var(--background-color);
    padding: 12px;
    border: solid 8px var(--red);
    border-radius: 50%;
    margin: 5px;
}

.triangle{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid var(--blue);
    margin: 5px;
}

.square{
    background-color: var(--background-color);
    padding: 12px;
    border: solid 8px var(--yellow);
    margin: 5px;
}

.diamond{
    background-color: var(--green);
    padding: 15px;
    transform: rotate(45deg);
    margin: 10px;
}

.scrolldown{
    margin-top: 8%;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: var(--text-color) ;
    transition: all .2s;
}

.scrolldown:hover{
    transform: translateY(10px) !important;
    color: var(--text-color)  !important;
}

.gotopbutton{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: var(--text-color) ;
    transition: all .2s;
}

.gotopbutton:focus{
    color: var(--text-color) !important;
}

.gotopbutton:hover{
    transform: translateY(-10px) !important;
    color: var(--text-color)  !important;
}

.nicetomeetyou{
    padding-top: 15vh;
    padding-bottom: 13vh;
    background-color: var(--background-color);
}

.story-title-outline h2{
    font-family: Poppins-Bold, sans-serif;
    font-size: 70px;
    white-space: nowrap;

    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease;
    cursor: default;
}

.story-title-outline h2:hover{
    -webkit-text-fill-color: #333;
    transition: all .5s ease;
}

.story-title-filled h2{
    font-family: Poppins-Bold, sans-serif;
    font-size: 70px;
    white-space: nowrap;
    margin: 10px 0;
    color: var(--text-color);
}

.story-description{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    margin: 25px 0;
    padding-top: 20px;
    opacity: .8;
    font-size: 16px;
    cursor: default;
}

.skills{
    padding: 25vh 0;
    background-color: var(--background-color);
}

.skills h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    margin: 0;
    line-height: 100px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.skills-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-logos img{
    width: 10%;
    height: auto;
    display: flex;
    opacity: .8;
    margin: 5px 30px;
    filter: grayscale(100%);
    transition: ease .5s;
}

.skills-logos img:hover{
    filter: grayscale(0);
    transition: ease .5s;
}

.cases{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.cases-header{
    width: 100%;
    background-position: center;
    background-repeat: repeat-x;
    transform: scale(2.5);
    margin: 5vh 0;
    background-color: var(--background-color);
}

.partners{
    margin: 5vh 0 30vh 0;
    background-color: var(--background-color);
}

.partners h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    margin: 0 0 30px 0;
    line-height: 100px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.partner-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logos a img{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0;
    filter: grayscale(100%);
    transition: ease .5s;
}

.partner-logos img:hover{
    filter: grayscale(0);
    transition: ease .5s;
}

.contact{
    padding-bottom: 25vh;
    background-color: var(--background-color);
}

.contact h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    white-space: nowrap;
    line-height: 100px;
    cursor: default;
}

.contact p{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    opacity: .7;
    cursor: default;
}

.contact h3{
    font-family: Montserrat-Bold, sans-serif;
    color: var(--text-color);
    margin: 0 0 5px 0;
    font-size: 20px;
    cursor: default;
}

.contact-description{
    margin: 25px 0;
}

.contact-description a{
    color: var(--text-color);
    text-decoration: none;
}

.contact-description-heading{
    margin-bottom: 40px;
}

.copyright p{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    font-size: 15px;
    opacity: 1;
    margin: 60px 0 0 0;
    cursor: default;
}

.nodisplay{
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: var(--background-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-logo {
        width: 15%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .name{
        font-size: 80px;
    }
    .nicetomeetyou h2{
        font-size: 40px;
    }
    .skills h2{
        font-size: 40px;
        line-height: 40px;
    }
    .skills-logos svg{
        width: 30%;
        height: auto;
        display: flex;
        opacity: .8;
        margin: 30px;
    }
    .partners h2{
        font-size: 40px;
        line-height: 40px;
    }
    .partner-logos svg{
        width: 30%;
        height: auto;
        display: flex;
        opacity: .8;
        margin: 30px;
    }
    .contact h2{
        font-size: 40px;
        line-height: 40px;
    }
}
