@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root{
    --background-color: #000000;
    --blue: #4369FB;
    --red: #E85D5D;
    --yellow: #FFB650;
    --green: #09CC71;
    --text-color: white;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    user-select: none;
}

body{
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Nano";
    src: url("../fonts/nano.woff") format("woff");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Semibold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

@keyframes  moveDown{
    0% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(2vh);
    }
}

/*@keyframes moveShape{*/
/*    0% {*/
/*        transform: translateY(0vh) rotate(90deg) scale(2);*/
/*    }*/
/*    50% {*/
/*        transform: translateY(2vh) rotate(90deg) scale(2);*/
/*    }*/
/*    100% {*/
/*        transform: translateY(0vh) rotate(90deg) scale(2);*/
/*    }*/
/*}*/

/*Cursor styling*/
#cursor {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 64px;
        height: 64px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 1px rgba(227, 222, 193, 0.64);
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle{
        width: 128px;
        height: 128px;
        background-color: var(--blue);
        border-color: var(--blue);
    }

    #cursor.arrow::after{
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('https://svgshare.com/i/MzQ.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.subtle .cursor__circle{
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle{
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.image-container{
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 75%;
    /*   margin-bottom: 0.5vw; */
    margin-top: 10vw;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(95%);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.underline::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    opacity: 0.32;
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .image-container:hover img{
        transform: scale(1.1);
    }

    .underline:hover::after{
        opacity: 1;
    }

    section::after{
        display: none;
    }
}
/*Einde cursor styling*/

/*Algemene styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav-styling*/

.header{
    background-color: var(--background-color);
}

.scrollfader{
    background-image: url("../img/scrollfader.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1vh;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-family: Poppins-Regular, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    transition: ease .5s;
}

.nav-link:hover{
    opacity: .5;
    color: var(--text-color);
    transition: ease .5s;
}

/*.nav-logo{*/
/*    width: 5%;*/
/*    z-index: 5;*/
/*}*/

a.nav-logo{
    width: 10%;
}

.nav-logo img{
    width: 45%;
    z-index: 5;
}

/*Home-styling*/

.home-header{
    background-color: var(--background-color);
    height: 100vh;
    padding: 15vh 0 15vh 0;
}

.name{
    color: var(--text-color);
    font-size: 110px;
    display: flex;
    justify-content: center;
    cursor: default;
    transition: 0.5s !important;
    margin-top: 7%;
}

.name:hover{
    color: var(--background-color);
    text-decoration: none;
    text-shadow: 0 -1px 0 #FFF,
    1px -1px 0 #FFFFFF,
    1px 0 0 #FFFFFF,
    1px 1px 0 #FFFFFF,
    0 1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    -1px 0 0 #FFFFFF,
    -1px -1px 0 #FFFFFF;
}

.name p{
    margin: 0;
    text-align: center;
    font-family: Poppins-Bold, sans-serif;
}

.name-description p{
    font-family: "Montserrat-Regular", sans-serif;
    color: white;
    font-size: 22px;
    text-align: center;
    cursor: default;
}

.shapes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: var(--background-color);
    padding: 12px;
    border: solid 8px var(--red);
    border-radius: 50%;
    margin: 5px;
}

.triangle{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid var(--blue);
    margin: 5px;
}

.square{
    background-color: var(--background-color);
    padding: 12px;
    border: solid 8px var(--yellow);
    margin: 5px;
}

.diamond{
    background-color: var(--green);
    padding: 15px;
    transform: rotate(45deg);
    margin: 10px;
}

.scrolldown{
    margin-top: 8%;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    animation: moveDown 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    color: var(--text-color) !important;
}

.gotopbutton{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 99;

    text-decoration: none;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: var(--text-color) ;
    transition: all .2s;
}

.gotopbutton:focus{
    color: var(--text-color) !important;
}

.gotopbutton:hover{
    transform: translateY(-10px) !important;
    color: var(--text-color)  !important;
}

/*Nice to meet you*/

.nicetomeetyou{
    padding-top: 15vh;
    min-height: 100vh
}

.nicetomeetyou-shapes{
    position: absolute;
    top: 150%;
    left: 90%;
    z-index: 10;
    animation: moveDown 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.nicetomeetyou-shapes>.circle{
    position: absolute;
    padding: 150px;
    left: -3vw;
    top: -20vh;
    border-width: 30px;
}

.nicetomeetyou-shapes>.triangle{
    position: absolute;
    top: 40vh;
    right: 5vw;
    transform: rotate(107deg) scale(3.5);
}

.nicetomeetyou-shapes>.square{
    transform: scale(3);
    top: -12vh;
    right: 9vw;
    position: absolute;
}

.nicetomeetyou-shapes>.diamond{
    background-color: var(--green);
    padding: 15px;
    margin: 10px;
    position: absolute;
    right: 16vw;
    top: 12vh;
    transform: scale(3.5) rotate(45deg);
}

.title-outline h2{
    font-family: Poppins-Bold, sans-serif;
    font-size: 70px;
    white-space: nowrap;

    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 2px;
    color: transparent;
    transition: color .5s ease !important;
}

.title-outline h2:hover{
    color: #333;
    transition: color .5s ease !important;
}

.title-filled h2{
    font-family: Poppins-Bold, sans-serif;
    font-size: 70px;
    white-space: nowrap;
    margin: 10px 0;
    color: var(--text-color);
}

/*skills*/
.skills{
    min-height: 50vh;
}

.skill-container{
    margin: 3vh 0 3vh 0;
}

.skill-bar{
    width: 100%;
    background-color: #333333;
    border-radius: 30px;
}

.skill{
    padding-top: 5px;
    padding-bottom: 5px;
}

.skill-details{
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    opacity: .7;
}

.skill-details p{
    margin-bottom: 3px;
}

.fill{
    border-radius: 30px;
    background-color: var(--text-color);
}

.html{
    width: 0;
    animation: html-fill 1.5s forwards;
}

.javascript{
    width: 0;
    animation: javascript-fill 1.5s forwards;
}

.vue{
    width: 0;
    animation: vue-fill 1.5s forwards;
}

.php{
    width: 0;
    animation: php-fill 1.5s forwards;
}

.photoshop{
    width: 0;
    animation: ps-fill 1.5s forwards;
}

.figma{
    width: 0;
    animation: figma-fill 1.5s forwards;
}

.adobexd{
    width: 0;
    animation: adobexd-fill 1.5s forwards;
}

.firebase{
    width: 0;
    animation: firebase-fill 1.5s forwards;
}

.indesign{
    width: 0;
    animation: indesign-fill 1.5s forwards;
}

@keyframes html-fill{
    100%{
        width: 100%;
    }
}

@keyframes javascript-fill{
    100%{
        width: 75%;
    }
}

@keyframes vue-fill{
    100%{
        width: 15%;
    }
}

@keyframes php-fill{
    100%{
        width: 15%;
    }
}

@keyframes ps-fill{
    100%{
        width: 90%;
    }
}

@keyframes figma-fill{
    100%{
        width: 70%;
    }
}

@keyframes adobexd-fill{
    100%{
        width: 60%;
    }
}

@keyframes firebase-fill{
    100%{
        width: 35%;
    }
}

@keyframes indesign-fill{
    100%{
        width: 30%;
    }
}

/*Cases*/
.filter-clicked{
    background-color: var(--text-color) !important;
}

.filter-clicked p{
    color: #333333 !important;
}

.filter-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterButton{
    background-color: #333333;
    border-radius: 100px;
    height: 6vh;
    margin: 0 10px 4vh 0;
}

.filterButton p{
    /*font-family: Montserrat-Semibold, sans-serif;*/
    font-family: Montserrat-Regular, sans-serif;
    font-size: 22px;
    text-align: center;
    color: var(--text-color);
    padding: 0 25px 0 25px;
    line-height: 6vh;
}

.cases{
    margin: 0;
    padding: 0;
    border: 0;
}

.cases-header{
    width: 100%;
    background-position: center;
    background-repeat: repeat-x;
    transform: scale(2.5);
    margin: 5vh 0 16vh 0;
    background-color: var(--background-color);
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    min-height: 210px;
}

.cases-wrapper{
    display: flex;
    justify-content: center;
}

.case{
    height: 40vh;
    text-decoration: none;
    transition: all .5s ease;
    box-sizing: border-box;
    border: 5px solid transparent;
    background-clip:padding-box;
}

.overlay{
    width: 106%; height:100%;
    background: black;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: opacity .5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.case:hover .overlay{
    opacity: .6;
}

.case:hover .text{
    opacity: 1;
}

.text{
    opacity: 0;
    transition: opacity .5s ease-in-out;
    text-align: center;
    z-index: 100;
}

.case-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.case-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.case>.overlay>h2{
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 40px;
    white-space: nowrap;
    color: var(--text-color);
}

.printpal{
    background-color: #1ad7a8;
    background-image: url("../img/cases-bg/printpalbackground.png");
}

.nore{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../img/cases-bg/norebackground.png")
}

.salvemundi{
    background-image: url("../img/cases-bg/samubackground.png");
}

.fontys-engineering{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/cases-bg/fontysbackground.png");
}

.portfolio-sem2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/cases-bg/mettebackground.png");
}

/*Toolset styling*/
.toolset{
    min-height: 40vh;
}

.toolset h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    margin: 0 0 30px 0;
    line-height: 100px;
    cursor: default;
    text-align: center;
}

.toolset-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolset-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
}

.toolset-item>img{
    height: 12vh;
    width: auto;
}

.toolset-item>h3{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    margin-top: 1vh;
}

.toolset-item>p{
    font-family: Montserrat-Regular, sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--text-color);
    margin-top: -1vh;
}

/*Partners styling*/
.partners{
    height: 45vh;
    margin-top: 3vh;
    background-color: var(--background-color);
}

.partner-logos{
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logos a img{
    width: 25vh;
    height: auto;
    display: flex;
    margin: 5vh;
    opacity: .5;
    transition: ease .5s;
}

.DjDeugniet{
    width: 15vh !important;
    box-sizing: border-box;
}

.partner-logos img:hover{
    opacity: 1;
    transition: ease .5s;
}
/*playground styling*/

.playground{
    background-color: white;
    height: 100%;
    padding: 10vh 0 10vh 0;
    margin-bottom: 12vh;
}

.playground .title-filled h2{
    color: var(--background-color);
}

.playgr-projects {
    margin: 5vh 0 0 0;
}

.playgr-project{
    height: 30vh;
    text-decoration: none;
    transition: all .5s ease;
    box-sizing: border-box;
    border: 5px solid transparent;

    background-clip:padding-box;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: cover;
}

.playgr-project:hover{

}

.valorant{
    background-image: url("../img/playground-bg/valorant.png");
}

.simonsays{
    background-image: url("../img/playground-bg/simonsays.gif");
}

.rps{
    background-image: url("../img/playground-bg/rockpaperscissors.gif");
}

.css-snake{
    background-image: url("../img/playground-bg/css-snake.gif");
}

.stopwatch{
    background-image: url("../img/playground-bg/stopwatch.gif");
}

.metris{
    background-image: url("../img/playground-bg/metris.gif")
}

/*contact styling*/

.contact{
    padding: 30vh 0 25vh 0;
    background-color: var(--background-color);
    position: relative;
}

.contact h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--text-color);
    font-size: 70px;
    white-space: nowrap;
    line-height: 100px;
    cursor: default;
}

.contact p{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    opacity: .7;
    cursor: default;
}

.contact h3{
    font-family: Montserrat-Bold, sans-serif;
    color: var(--text-color);
    margin: 0 0 5px 0;
    font-size: 20px;
    cursor: default;
}

.contact-description{
    margin: 25px 0;
}

.contact-description a{
    color: var(--text-color);
    text-decoration: none;
}

.contact-description-heading{
    margin-bottom: 40px;
}

.contact-shapes{
    position: absolute;
    top: 30%;
    left: 90%;
    z-index: 10;
    animation: moveDown 2s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.contact-shapes>.circle{
    position: absolute;
    padding: 150px;
    left: -3vw;
    top: -20vh;
    border-width: 30px;
}

.contact-shapes>.triangle{
    position: absolute;
    top: 40vh;
    right: 5vw;
    transform: rotate(107deg) scale(3.5);
}

.contact-shapes>.square{
    transform: scale(3);
    top: -12vh;
    right: 9vw;
    position: absolute;
}

.contact-shapes>.diamond{
    background-color: var(--green);
    padding: 15px;
    margin: 10px;
    position: absolute;
    right: 16vw;
    top: 12vh;
    transform: scale(3.5) rotate(45deg);
}

.copyright p{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    font-size: 15px;
    opacity: 1;
    margin: 60px 0 0 0;
    cursor: default;
}

.copyright a{
    color: var(--text-color);
    text-decoration: none;
}

.nodisplay{
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        background-color: var(--background-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-bar{
        position: fixed;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-logo img{
        width: 130%;
        margin-left: -2vh;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .name{
        font-size: 80px;
    }
    .nicetomeetyou h2{
        font-size: 40px;
    }
    .partner-logos svg{
        width: 30%;
        height: auto;
        display: flex;
        opacity: .8;
        margin: 30px;
    }
    .contact h2{
        font-size: 40px;
        line-height: 40px;
    }

    .playground h2{
        font-size: 40px;
        line-height: 40px;
    }

    .nicetomeetyou-shapes{
        display: none;
    }

    .contact-shapes {
        display: none;
    }

    .partner-logos{

    }
}

/*Project pages*/
.project-header-nav{
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
}

.project-header{
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}

.project-title{
    color: var(--text-color);
    font-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: 0.5s !important;
    margin-top: 7%;
}

.project-title p{
    margin: 0;
    text-align: center;
    font-family: Poppins-Bold, sans-serif;
}

.project-subtitle p{
    font-family: "Montserrat-Regular", sans-serif;
    color: white;
    font-size: 22px;
    text-align: center;
    cursor: default;
}

.project-description{
    height: 100%;
    padding: 15vh 0 15vh 0;
}

.description-text{
    font-family: Montserrat-Regular, sans-serif;
    color: var(--text-color);
    margin: 25px 0;
    padding-top: 20px;
    opacity: .8;
    font-size: 16px;
    cursor: default;
    text-align: left;
}

.description-text a{
    color: var(--text-color);
    text-decoration: none;
    opacity: .7;
}

.project-image img{
    width: 100%;
    height: auto;
    /*border-radius: 20px;*/
    margin: 15px 0 15px 0
}

.project-image-header img{
    width: 100%;
    height: auto;
}

.whitespace{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
}

.whitespace h2{
    font-family: Poppins-Bold, sans-serif;
    color: var(--background-color);
    font-size: 70px;
    margin: 0 0 30px 0;
    line-height: 100px;
    cursor: default;
    text-align: center;
}

.next-project{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}